/* Allow members of the wheel group to execute any actions
 * without password authentication, similar to "sudo NOPASSWD:" This is an awful workaround but needed for live experience user
 */
polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});