[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo holoiso-chroot
GenericName[en_US]=
GenericName=
Icon=utilities-terminal
MimeType=
Name[en_US]=chroot to your HoloISO Installation
Name=chroot to your HoloISO Installation
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=