[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo holoinstall
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Install SteamOS
Name=Install SteamOS
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=